@media only screen and (max-width: 1385px) {
    .newsandmore {
        scale: 80%;
    }


}

@media only screen and (max-width: 1055px) {
    .newsandmore {
        scale: 60%;
    }


}

@media only screen and (max-width: 786px) {

    .footer {
        border-top: solid 1px #6a8b9c45;
        color: white;
        columns: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 758px) {
    .newsandmore {
        scale: 55%;
        font-size: 130%;
    }


}

@media only screen and (max-width: 686px) {
    .newsandmore {
        scale: 50%;
        font-size: 150%;
    }


}

@media only screen and (max-width: 612px) {
    .newsandmore {
        scale: 45%;
        font-size: 150%;
    }


}

@media only screen and (max-width: 548px) {
    .newsandmore {
        scale: 40%;
        font-size: 150%;
    }


}

@media only screen and (max-width: 480px) {
    .newsandmore {
        scale: 35%;
        font-size: 200%;
    }


}

@media only screen and (max-width: 415px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -10% -40% 0% -3%;
        scale: 70%;
        font-size: 100%;
    }

    .TextNews {
        text-align: center;
        margin: 0% 35% 20% 0%;
        font-size: 20   0%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 0% 35% 20% 0%;
        font-size: 200%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 0% 35% 0% 0%;
        font-size: 200%;
        color: white;
    }
}

@media only screen and (max-width: 363px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -20% -15% 0% -3%;
        scale: 70%;
        font-size: 100%;
    }

    .TextNews {
        text-align: center;
        margin: 0% 15% 20% 0%;
        font-size: 200%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 0% 15% 20% 0%;
        font-size: 200%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 0% 15% 0% 0%;
        font-size: 200%;
        color: white;
    }
}

@media only screen and (max-width: 348px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -10% 0% 0% -3%;
        scale: 70%;
        font-size: 200%;
    }
    .TextNews {
        text-align: center;
        margin: 1% 0% 10% 0%;
        font-size: 100%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% 0% 10% 0%;
        font-size: 100%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% 0% 10% 0%;
        font-size: 100%;
        color: white;
    }

}

@media only screen and (max-width: 320px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -10% 30% 0% -3%;
        scale: 80%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -60% 10% 0%;
        font-size: 170%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -60% 10% 0%;
        font-size: 170%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -60% 10% 0%;
        font-size: 170%;
        color: white;
    }

}

@media only screen and (max-width: 306px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -10% 59% 0% -3%;
        scale: 80%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 170%;
        color: white;
    }

}

@media only screen and (max-width: 304px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -10% 59% 0% -3%;
        scale: 80%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 170%;
        color: white;
    }

}

@media only screen and (max-width: 302px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -30% 40% 0% -3%;
        scale: 70%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -100% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -100% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -100% 60% 0%;
        font-size: 170%;
        color: white;
    }

}

@media only screen and (max-width: 276px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -30% 65% 0% -3%;
        scale: 70%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -260% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -260% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -260% 60% 0%;
        font-size: 170%;
        color: white;
    }

}

@media only screen and (max-width: 268px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -10% 70% 0% -3%;
        scale: 70%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -320% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -320% 60% 0%;
        font-size: 170%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -320% 60% 0%;
        font-size: 170%;
        color: white;
    }

}

@media only screen and (max-width: 268px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -35% 50% 0% -3%;
        scale: 60%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 200%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 200%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -170% 60% 0%;
        font-size: 200%;
        color: white;
    }

}

@media only screen and (max-width: 240px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -35% 70% 0% -3%;
        scale: 60%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -370% 60% 0%;
        font-size: 200%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -370% 60% 0%;
        font-size: 200%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -370% 60% 0%;
        font-size: 200%;
        color: white;
    }

}

@media only screen and (max-width: 230px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -35% 79% 0% -3%;
        scale: 60%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -560% 60% 0%;
        font-size: 200%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -560% 60% 0%;
        font-size: 200%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -560% 60% 0%;
        font-size: 200%;
        color: white;
    }

}

@media only screen and (max-width: 226px) {
    .newsandmore {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        justify-content: center;
        gap: 10%;
        margin: -60% 53% 0% -3%;
        scale: 50%;
        font-size: 100%;
    }
    .TextNews {
        text-align: center;
        margin: 1% -230% 100% 0%;
        font-size: 200%;
        color: white;
    }
    
    
    
    .TextUpdates {
        text-align: center;
        margin: 1% -230% 100% 0%;
        font-size: 200%;
        color: white;
    }
    
    .TextVlogs {
        text-align: center;
        margin: 1% -230% 60% 0%;
        font-size: 200%;
        color: white;
    }

}