@media only screen and (max-width: 1235px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: repeat(3, 30%);
        grid-row-start: auto;
        justify-items: center;
        gap: 10px;
        position: relative;
    }

    .Announcement {
        scale: 100%;
        border-radius: 30px;
        margin: 15% 0% 5% 0%;
        filter: brightness(50%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 80%;
        text-align: center;
        font-size: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

@media only screen and (max-width: 1179px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        grid-template-rows: repeat(3, 25%);
        grid-row-start: auto;
        justify-items: center;
        gap: 10px;
        position: relative;
    }

    .Announcement {
        scale: 80%;
        border-radius: 30px;
        margin: 30% 0% 0% 15%;
        filter: brightness(50%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 105%;
        text-align: center;
        font-size: 80%;
        left: 62%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}


@media only screen and (max-width: 949px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(5, 15%);
        grid-row-start: auto;
        justify-items: center;
        gap: 10px;
        position: relative;
    }

    .Announcement {
        scale: 80%;
        border-radius: 30px;
        margin: 10% 0% 0% 10%;
        filter: brightness(50%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 100%;
        text-align: center;
        font-size: 80%;
        left: 59%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

@media only screen and (max-width: 786px) {

    .footer {
        border-top: solid 1px #6a8b9c45;
        color: white;
        columns: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 639px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        grid-template-rows: repeat(5, 15%);
        grid-row-start: auto;
        justify-items: center;
        gap: 10px;
        position: relative;
    }

    .Announcement {
        scale: 60%;
        border-radius: 30px;
        margin: 10% 0% 0% 10%;
        filter: brightness(50%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 95%;
        text-align: center;
        font-size: 60%;
        left: 59%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

@media only screen and (max-width: 469px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(9, 10%);
        grid-row-start: auto;
        justify-items: center;
        gap: 10px;
        position: relative;
    }

    .Announcement {
        scale: 60%;
        border-radius: 30px;
        margin: 10% 0% 0% 0%;
        filter: brightness(50%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 75%;
        text-align: center;
        font-size: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}