@media only screen and (max-width: 1479px) {

    .AnnouncementsColumns {
        scale: 80%;
        gap: 10%;
        margin: 0% 16% 1% 0%;
        grid-template-rows: repeat(2, 45%);
    }

}

@media only screen and (max-width: 1303px) {

    .AnnouncementsColumns {
        scale: 70%;
        gap: 22%;
        margin: 0% 27% 2% 0%;
        grid-template-rows: repeat(2, 30%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 12 0%;
        text-align: left;
        left: 70%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 1155px) {

    .AnnouncementsColumns {
        scale: 50%;
        gap: 70%;
        margin: -10% 45% 0% 0%;
        grid-template-rows: repeat(2, 0%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 10em;
        font-size: 150%;
        text-align: center;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 783px) {

    .AnnouncementsColumns {
        scale: 70%;
        gap: 40%;
        margin: -12% 58% 0% -5%;
        grid-template-columns: repeat(2, 100%);
        grid-template-rows: repeat(3, 0%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 10em;
        font-size: 150%;
        text-align: center;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 665px) {

    .AnnouncementsColumns {
        scale: 70%;
        gap: 40%;
        margin: -12% 59.5% 0% -10%;
        grid-template-columns: repeat(2, 100%);
        grid-template-rows: repeat(3, 0%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 10em;
        font-size: 150%;
        text-align: center;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 621px) {

    .AnnouncementsColumns {
        scale: 70%;
        gap: 20%;
        margin: -50% 10% 0% -10%;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 0%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 10em;
        font-size: 150%;
        text-align: center;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}


@media only screen and (max-width: 307px) {

    .AnnouncementsColumns {
        scale: 70%;
        gap: 20%;
        margin: -100% 20% 0% -10%;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(6, 0%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 10em;
        font-size: 150%;
        text-align: center;
        left: 75%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}