@media only screen and (max-width: 1515px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(3, 1fr);
        grid-row-start: auto;
        justify-items: center;
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 72%;
        text-align: left;
        left: 120%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }


    .Announcement {
        scale: 120%;
        border-radius: 30px;
        margin: 15% 0% 15% 75%;
        filter: brightness(70%);
    }
}

@media only screen and (max-width: 1485px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(1, 30%);
        grid-template-rows: repeat(6, 1fr);
        grid-row-start: auto;
        justify-items: center;
    }

    .Announcement {
        scale: 120%;
        border-radius: 30px;
        margin: 15% 0% 15% 140%;
        filter: brightness(70%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 72%;
        text-align: left;
        left: 185%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 879px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(1, 30%);
        grid-template-rows: repeat(6, 1fr);
        grid-row-start: auto;
        justify-items: center;
    }

    .Announcement {
        scale: 120%;
        border-radius: 30px;
        margin: 15% 0% 15% 90%;
        filter: brightness(70%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 72%;
        text-align: left;
        left: 135%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 657px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(1, 30%);
        grid-template-rows: repeat(6, 1fr);
        grid-row-start: auto;
        justify-items: center;
    }

    .Announcement {
        scale: 120%;
        border-radius: 30px;
        margin: 15% 0% 15% 65%;
        filter: brightness(70%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 72%;
        text-align: left;
        left: 110%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 529px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(1, 30%);
        grid-template-rows: repeat(6, 1fr);
        grid-row-start: auto;
        justify-items: center;
    }

    .Announcement {
        scale: 120%;
        border-radius: 30px;
        margin: 15% 0% 15% 55%;
        filter: brightness(70%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 72%;
        text-align: left;
        left: 100%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 489px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(1, 30%);
        grid-template-rows: repeat(6, 1fr);
        grid-row-start: auto;
        justify-items: center;
    }

    .Announcement {
        scale: 120%;
        border-radius: 30px;
        margin: 15% 0% 15% 48%;
        filter: brightness(70%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 72%;
        text-align: left;
        left: 95%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}

@media only screen and (max-width: 439px) {
    .AnnouncementsColumns {
        display: grid;
        grid-template-columns: repeat(1, 30%);
        grid-template-rows: repeat(6, 1fr);
        grid-row-start: auto;
        justify-items: center;
    }

    .Announcement {
        scale: 120%;
        border-radius: 30px;
        margin: 15% 0% 15% 46%;
        filter: brightness(70%);
    }

    .centrado {
        width: 100%;
        position: absolute;
        color: white;
        top: 72%;
        text-align: left;
        left: 90%;
        transform: translate(-50%, -50%);
        z-index: 0;
    }

}