    /*Header*/
   /*Header*/
header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(13, 36, 48, .95);
  padding: 1% 1% 1% 1%;
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
}

#MenuHeader {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: white;

}
/*------*/
    
    /*logo header*/
    .logoIMG {
      pointer-events: none;
    }

    /*----------------*/

    /*Tarjetas anuncios*/
    .AnnouncementsColumns {
      display: grid;
      grid-template-columns: repeat(3, 30%);
      grid-template-rows: repeat(2, 1fr);
      grid-row-start: auto;
      justify-items: center;
    }

    .Announcement {
      scale: 120%;
      border-radius: 30px;
      margin: 15% 0% 15% 25%;
      filter: brightness(70%);
    }

    .AnnouncementContainer:hover .centrado {
      visibility: visible;
    }

    .AnnouncementContainer {
      position: relative;
      display: inline-block;
      text-align: center;
    }

    .centrado {
      width: 100%;
      position: absolute;
      color: white;
      top: 72%;
      text-align: left;
      left: 70%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }

    .centrado:hover {
      pointer-events: none;
    }

    /*----------------*/

    /*boto de retorn*/
    .BackButton {
      color: white;
    }

    .BackButton:hover {
      color: #44DC14;
      text-decoration: none;
    }
    /*--------------------*/