    .logoIMG {
      pointer-events: none;
    }

    .AnnouncementsColumns {
      display:grid;
      grid-template-columns: repeat(3, 30%);
      grid-template-rows: repeat(2, 1fr);
      grid-row-start: auto;
      justify-items: center;
    }

    .Announcement {
      scale: 120%;
      border-radius: 30px;
      margin: 15% 0% 15% 25%;
      filter: brightness(70%);
    }

    .AnnouncementContainer:hover .centrado {
      visibility: visible;
    }

    .AnnouncementContainer {
      position: relative;
      display: inline-block;
      text-align: center;
    }

    .centrado {
      width: 100%;
      position: absolute;
      color: white;
      top: 72%;
      text-align: left;
      left: 70%;
      transform: translate(-50%, -50%);
      z-index: 0;
    }

    .centrado:hover {
      pointer-events: none;
    }

    .selected-option:hover .arrow {
      transform: rotate(180deg);
    }

    .arrow {
      display: inline-block;
      margin-left: 5px;
    }

    .arrow::before {
      content: "";
      display: inline-block;
      border: solid #44DC14;
      border-width: 0 2px 2px 0;
      padding: 3px;
      margin-bottom: 51%;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .dropdown {
      position: relative;
      display: inline-block;
      color: white;
    }

    .selected-option {
      background: none;
      padding: 10px;
      cursor: pointer;
    }

    .dropdown-menu {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      list-style: none;
      padding: 0;
      margin: 0;
      border-radius: 7px;
      text-align: center;
      display: none;
      background-color: rgba(30, 57, 78);
    }

    .option {
      padding: 10px;
      cursor: pointer;
      color: #44DC14;

    }

    .dropdown:hover .dropdown-menu {
      display: block;
    }

    .BackButton{
      color: white;
    }

    .BackButton:hover{
      color:#44DC14;
      text-decoration: none;
    }