*{
    color: white;
}

.infoContainer {
    background: linear-gradient(90deg, rgba(17, 168, 223, 0.326) 0%, rgba(67, 151, 168, 0) 25%);
    padding: 1%;
    color: white;
    border-bottom: solid 1px #6a8b9c45;
}

#linkfooter{
    list-style: none;
}

.StaffContainer{
    margin: 2% 0% 0% 2%;
}

.PositionStaffContainer{

    margin: 0% 0% 2% 0%;
}


.contentContainer{
    display: flex;
    margin: 1% 0% 0% 0%;
}

.textPosition{
    width: 30%;
    margin: .2% 0% 0% 1%;
}

.ChatHelpersContainer, .BattleHelpersContainer, .eSportsHelpersContainer {
    margin: 7% 0% 0% 0%;
}

