@media only screen and (max-width: 1224px) {
    
    .textPosition{
        width: 40%;
       
    }
}

@media only screen and (max-width: 911px) {
    
    .textPosition{
        width: 50%;
       
    }
}

@media only screen and (max-width: 697px) {
    
    .textPosition{
        width: 70%;
       
    }
}